<div class="col-xs-12 text-right submit-area">
    <a class="btn btn-default" href="{{ path(returnRoute) }}">
        <i class="glyphicon glyphicon-chevron-left"></i>
        {{ "lch.admin.button.return"|trans }}
    </a>
    {% if form is defined %}
        {{ form_widget(form) }}
    {% endif %}
</div>