$dark-background-color: #23282d;
$light-color: #FFF;

body {
  #content {
    #main-menu {
      color: $light-color;
      background-color: $dark-background-color;
      height: 100vh;
      a {
        color: $light-color;
      }
    }
    #page-content {
      header#horizontal-nav {
        color: $light-color;
        background-color: $dark-background-color;
        a {
          color: $light-color;
        }
      }
      #admin-screen {

      }
    }
  }
}

// Scaffolding
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

// Helpers
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child),
.container.no-gutter,
[class*='col-'].no-gutter {
  padding-right: 0;
  padding-left: 0;
}