$dark-background-color: #23282d;
$light-color: #FFF;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


body {
  #content {
    #main-menu {
      color: $light-color;
      background-color: $dark-background-color;
      height: 100vh;
      padding-top: 50px;
      ul {
        list-style-type: none;
        a {
          color: $light-color;
        }

        > li {
          padding: 5px 0;
          > a {
            font-size: 19px;
          }
          ul {
            li {
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    #page-content {
      header#horizontal-nav {
        color: $light-color;
        background-color: $dark-background-color;
        a {
          color: $light-color;
        }
      }
      #admin-screen {
        h1 {
          border-bottom: 1px solid #EEE;
          padding-bottom: 15px;
          margin-bottom: 15px;
          i {
            margin-right: 30px;
          }
        }

        p.helper {
          color: gray;
          font-size: 12px;
        }

        .errors {
          background: transparent;
          border: none;
          padding:0;
        }

        .panel-heading {
          h3 {
            margin: 10px 0;
          }
        }
        /*************
         * Special collection treatment
         */
        div[data-prototype] > div {
          padding: 20px 5px;
          border: 1px solid #eee;
          margin-bottom: 5px;
          background-color: #FFF;
          &:nth-child(even) {
            background-color: #EEE;
          }
          div[class$="-actions"] {
            width: 100%;
            text-align: right;
            float: left;
            a {
              margin:5px;
            }
          }
        }

        .submit-area {
          a, button {
            margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        i {
          margin-right: 5px;
        }
        /************************************
        * CKEditor
        */
        div.cke {
          float:left;
          margin-left: 5px;
          max-width: 100%;
          @media (min-width: $screen-sm-min) {
            width: 500px;
          }
          @media (min-width: $screen-md-min) {
            width: 800px;
          }
          @media (min-width: $screen-lg-min) {
            width: 1000px;
          }
        }
      }
    }
  }
}

// Scaffolding
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

// Helpers
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child),
.container.no-gutter,
[class*='col-'].no-gutter {
  padding-right: 0;
  padding-left: 0;
}